<mat-toolbar color="primary">
  <span>Pelada Baixo Nivel</span>
  <button mat-button color="primary">Tirar time</button>
</mat-toolbar>

<div>
  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile *ngFor="let item of players; let i = index">
      <app-selectable-card
        (newItemEvent)="onSelectPlayer($event)"
        name="{{ item.name }}"
        id="{{ item.id }}"
        [score]="item.generalScore"
      ></app-selectable-card
    ></mat-grid-tile>
  </mat-grid-list>

  <br />

  <section>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button
            mat-fab
            aria-label="Example icon button with a heart icon"
            (click)="getTeams()"
          >
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>
