<mat-toolbar color="primary">
  <span>Pelada Baixo Nivel</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<div>
  <mat-card *ngFor="let item of players; let i = index" class="card">
    <mat-card-title>{{ item.name }} #{{ i + 1 }}</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list class="chip-list" aria-label="Dog selection">
        <mat-chip> Moment: {{ item.momentScore | number: "1.2" }} </mat-chip>
        <mat-chip> General: {{ item.generalScore | number: "1.2" }} </mat-chip>
        <div
          *ngIf="item.mondayScore !== 0; then thenBlock; else elseBlock"
        ></div>
        <ng-template #thenBlock>
          <mat-chip> Monday: {{ item.mondayScore | number: "1.2" }} </mat-chip>
        </ng-template>
        <ng-template #elseBlock> <mat-chip> Monday: -- </mat-chip></ng-template>

        <div
          *ngIf="item.wednesdayScore !== 0; then thenBlock; else elseBlock"
        ></div>
        <ng-template #thenBlock>
          <mat-chip>
            Wednesday: {{ item.wednesdayScore | number: "1.2" }}
          </mat-chip>
        </ng-template>
        <ng-template #elseBlock>
          <mat-chip> Wednesday: -- </mat-chip></ng-template
        >
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card>

  <br />
</div>
<router-outlet></router-outlet>
