<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form novalidate (ngSubmit)="addUser()" [formGroup]="form">
      <p>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="email"
            ngDefaultControl
          />
          <mat-error *ngIf="form.get('email')?.invalid">{{
            displayMessage["email"]
          }}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            ngDefaultControl
            required
          />
          <mat-error *ngIf="form.get('password')?.invalid">{{
            displayMessage["password"]
          }}</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input
            type="password"
            matInput
            formControlName="confirmPassword"
            ngDefaultControl
          />
          <mat-error *ngIf="form.get('confirmPassword')?.invalid">{{
            displayMessage["confirmPassword"]
          }}</mat-error>
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button>Register</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
